In [2]:
import pandas as pd
import numpy as np
import requests
import time

In [3]:
cities = pd.read_csv(r'C:\Users\nnoar\OneDrive\Desktop\homework\Project_3_Weather\cities.csv')
cities.head()

   rank           name usps  pop2021  pop2010  growth  density  aland_sqmi
0     1  New York City   NY  8230290  8190210  0.0049    27400     300.381
1     2    Los Angeles   CA  3983540  3795510  0.0495     8494     468.956
2     3        Chicago   IL  2679080  2697480 -0.0068    11783     227.369
3     4        Houston   TX  2323660  2100280  0.1064     3630     640.194
4     5        Phoenix   AZ  1733630  1449040  0.1964     3349     517.673

In [4]:
city_list = []
for city in cities['name']:
    city_list.append(city)

In [5]:
url = 'http://api.openweathermap.org/data/2.5/weather?'
units = 'metric'
query_url = f'{url}appid=7607ee12001f18d5c5c3cdb923ef8f85&units={units}&q='

city_name = []
lat = []
lng = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []


for city in city_list:
        response = requests.get(query_url + city).json()
        city_name.append(city)
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        max_temp.append(response['main']['temp_max'])
        humidity.append(response['main']['humidity'])
        wind_speed.append(response['wind']['speed'])
        country.append(response['sys']['country'])
        cloudiness.append(response['clouds']['all'])
        date.append(response['dt'])

In [6]:
weather = {'City':city_name,'Lat':lat,'Lng':lng,'Max Temp':max_temp,'Humidity':humidity,'Cloudiness':cloudiness,'Wind Speed':wind_speed,'Country':country,'Date':date}
weather_df = pd.DataFrame({ key:pd.Series(value) for key, value in weather.items() })

In [7]:
weather_json = weather_df.to_json(orient='index')

In [8]:
weather_dict = weather_df.to_dict()

In [9]:
weather_dict.keys()

dict_keys(['City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed', 'Country', 'Date'])

In [10]:
import json
with open('weather_json', 'w') as fp:
    json.dump(weather_json, fp)

In [12]:
weather_df.to_csv('weather_df.csv')